<%= content_for :title do %>
	Edit: <%= @movie.title %>
<% end %>

<%= render "/shared/movies_button" %>

<h3 style="color:brown">Edit: <i><%= @movie.title %></i>  <%= render "/shared/delete_button", movie: @movie %></h3>

<%= render 'form' %>