<%= content_for :title do %>
  <%= @movie.title %>
<% end %>

<%= render "/shared/movies_button" %>

<h3 style="color:brown">Movie Details <%= render "/shared/edit_button", movie: @movie %> <%= render "/shared/delete_button", movie: @movie %>  </h3>

<ul class="list-group">
    <li class="list-group-item list-group-item active"> <%= @movie.title %> </li>
    <li class="list-group-item"><b>Description:</b> <%= @movie.description %> </li>
    <li class="list-group-item"><b>Director:</b> <%= @movie.director %> </li>
    <li class="list-group-item"><b>Country:</b> <%= @movie.country %> </li>
  <li class="list-group-item"><b>Year:</b> <%= @movie.date %> </li>  
</ul>
